[submodule "claudable"]
	path = claudable
	url = https://github.com/opactorai/Claudable.git
[submodule "firecrawl"]
	path = firecrawl
	url = https://github.com/mendableai/firecrawl.git
[submodule "quartz"]
	path = quartz
	url = https://github.com/jackyzha0/quartz.git
	branch = v4
